@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset some basic styles */
body, html, #__next {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .btnSidebar{
    position: fixed !important;
  }

.content-body{
  padding: 50px 25px
}

